article
    header
        margin-bottom: 2rem
        font-family: $fonts-mono

        a, a:visited
            color: $black
            text-decoration: none

        h2
            margin: 0

        h6
            color: $hard-gray
            margin: 1em 0 0

    > figure
        margin-bottom: 2rem

    img
        display: block
        max-width: 100%

    pre
        padding: 0
        border-radius: 0
        font-size: .75em
