nav
    padding-top: $spacing
    font-family: $fonts-mono
    margin-bottom: $spacing-2x

    h1
        font-size: 1em
        text-align: center
        border-bottom: 1px solid $soft-gray
        margin: 0 0 $spacing-2x
        padding: 0 0 $spacing-2x

        img
            margin-bottom: $spacing

        a, a:visited
            text-decoration: none
            color: $hard-gray
            display: block

        p
            margin: 0

    ul
        list-style: none
        padding: 0
        margin: 0

        li
            display: block

        a, a:visited
            color: $hard-gray
            text-decoration: none
            display: block

        a:hover
            color: $primary-color
            text-decoration: none

    .copyright
        font-size: .8em
        margin: $spacing-3x 0 0
        color: $gray
