@import "https://fonts.googleapis.com/css?family=Lora"
@import "../../../node_modules/pavilion/scss/pavilion"
@import lib/typeset
@import lib/code

body, html
    font-family: Lora, serif

figure
    padding: 0
    margin: 0

article
    header
        margin-bottom: 1rem

    > figure
        margin-bottom: 2rem

    img
        display: block
        max-width: 100%
