@import "https://fonts.googleapis.com/css?family=Lora:400,700|Roboto+Mono:300,400"
@import "../../../node_modules/pavilion/scss/pavilion"
@import lib/variables
@import lib/typeset
@import lib/code

@import partials/nav
@import partials/article
@import partials/recent
@import partials/articleGrid

body, html
    font-family: $fonts-regular

body
    padding: $spacing-3x 0

figure
    padding: 0
    margin: 0

h2, h3, h4, h5
    font-family: $fonts-mono
    font-weight: 400
    position: relative

    .dot
        position: relative
        &::after
            position: absolute
            left: 50%
            top: 46%
            -webkit-transform: translate(-50%,-50%)
            transform: translate(-50%,-50%)
            opacity: .4
            content: "·"

        &.-last
            visibility: hidden

    .dotted:after
        opacity: .4;
        content: "¬"

    .original
        color: transparent
