doctype html
html(lang="en")

    head
        title= title + " // Cafe Dev"
        script(type='text/javascript').
            console.log("test");

    body
        article
            section
                h1= title
                span= subtitle
                img(src=imgHeader)
        div
            include ./includes/recentList.pug
