extends ./includes/layout.pug

block title
    title= title

block meta
    meta(name="description", content="Cafe Dev is a software development blog, covering topics from development within the community and social development through to current technologies and projects.")

block content
    include ./includes/articleGrid.pug
