div#disqus_thread
    script(type="text/javascript").
        var disqus_config = function () {
            this.page.url = "#{href}"; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = "#{slug}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '//cafedev.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    noscript
        | Please enable JavaScript to view the
        a(href="https://disqus.com/?ref_noscript", rel="nofollow") comments powered by Disqus.
