script#dsq-count-scr(src="//cafedev.disqus.com/count.js",async)
include ./analytics.pug
script.
    function toggleDots() {
        var dots = document.querySelectorAll(".dotted .dot");
        dots = Array.prototype.slice.call(dots, 0);
        dots.forEach(function(dot) {
            var rect = dot.getBoundingClientRect();
            if (rect && rect.width <= 5) {
                dot.classList.add("-last");
            } else {
                dot.classList.remove("-last");
            }
        });
    }

    var titleEls = Array.prototype.slice.call(document.querySelectorAll("h2, h3, h4"));
    titleEls.forEach(function(titleEl) {
        var dottedTitle =
            "<span class=\"dotted\">" +
            titleEl.innerHTML.replace(/\s/g, "<span class=\"dot\"> </span>") +
            "</span>",
            originalTitle = "<span class=\"original\">" + titleEl.innerHTML + "</span>";

        titleEl.innerHTML = dottedTitle;
    });

    window.addEventListener("resize", toggleDots);
    toggleDots();
