doctype html
html(lang="en")

    head
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        meta(charset="utf-8")
        meta(name="google-site-verification",content="WGwee7AVQMYor6dpygP4-UZA0a35wJUiJ_8dGlFsAVY")
        block title
            title Cafe Dev
        block meta
        link(type="text/css", href="/static/style.css", rel="stylesheet")

    body
        include ./header.pug
        section.container-tl
            section.row-flex
                nav.col-tl-25
                    include ./sidebar.pug
                section.col-tl-75
                    block content
        include ./footer.pug
