doctype html
html(lang="en")

    head
        block title
            title Cafe Dev
        meta(charset="utf-8")
        link(type="text/css", href="/static/style.css", rel="stylesheet")

    body
        header.container-tl
            h1 Café Dev
        section.container-tl
            section.row-flex
                nav.col-dt-25
                    ul
                        li
                            a(href="/") ~/
                        li
                            a(href="/about") ~/about
                        li
                            a(href="/contact") ~/contact
                section.col-dt-75
                    block content
        include ./footer.pug
