ul.recent-articles
    each article in recentArticles
        li.recent-article
            img.thumb(src=article.imgHeaderAbs)
            div.post
                a(href=article.link)= article.title
                br
                i= article.description
