h1
    a(href="/")
        img(src="/static/desktop.svg", alt="Cafe Dev")
        p root@cafedev
ul
    li
        a(href="/") ~/
    li
        a(href="/about") ~/about
    li
        a(href="/contact") ~/contact

p.copyright.show-tl.show-dt (C) 2016 MadDev
