meta(property="og:title",content=title)
meta(property="og:type",content="article")
meta(property="og:url",content=href)
meta(property="og:image",content=imgHeaderAbs)
meta(property="og:description",content=description)
